@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


html {
    background: rgb(0,124,106);
    background: linear-gradient(45deg, rgba(0,124,106,1) 0%, rgba(0,154,132,1) 35%, rgba(0,184,157,1) 96%, rgba(0,217,185,1) 100%);
}

button {
    height: 80px;
    width: 80px;
    border-radius: 2px;
    margin: 1px;
    padding: 0px;
    text-decoration: none;
    border: none;
}

.operator > button {
    background: rgb(36, 35, 33);
    color: rgb(35, 104, 233);
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    margin: 65px auto 93px;
}
.calculator{
    display: grid;
    justify-content: center;
    background-color: rgb(70, 70, 78);
    height: 450px;
    width: 340px;
    padding: 16px 12px 30px 22px;
    border-radius: 5px;
}

.equal-button > button {
    height: 67px;
    width: 349px;
    background: #e69501;
    font-size: large;
    font-weight: bolder;
}

.screen-output {
    background: rgb(52,52,52);
    background: linear-gradient(45deg, rgb(96, 96, 96) 0%, rgb(138, 137, 137) 35%, rgb(107, 107, 107) 96%, rgb(108, 108, 108) 100%);
    width: 350px;
    height: 58px;
    font-size: 3em;
    overflow: hidden;
    text-align: end;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    left: -3px;
    border-radius: 3px;
}

.numbers {
    height: 400px;
    width: 320px;
    position: relative;
    top: 3px;
    left: -4px;
}

.operator {
    height: 400px;
    width: 10em;
    position: relative;
    left: 16.6em;
    bottom: 24.8em;
}

.equal-button {
    position: relative;
    left: -4px;
    bottom: 29em;
}

